<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <span highlight>Maiores illum dolorem esse,(aplicamos la directiva highlight que cambia el color)</span>  natus error aliquid saepe molestiae? Facere quasi temporibus, veritatis mollitia iure asperiores porro corporis eligendi, perferendis culpa ipsam.</p>
  <p class="text-sm">Numero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/></p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3"/>
  </div>
</div>

